<!doctype html>
<html lang='pt-BR'>
  <head>
    <meta charset='UTF-8'>
    <title>Top 3 lugares para visitar em São Luis</title>
    <link rel='stylesheet' href='Slz.css'>
  </head>
  <body>
  <div class='container'>
    <h1><a href=''>Top 3 lugares para visitar em São Luis</a></h1>
  <div class="places">
    <div class="place">
        <h2>Passear na Avenida Paulista!</h2>
        <img src='images/leão.jpg' alt='vista frontal do Palácio dos Leões'>
        <div class='clear'></div>
          <p>Palácio dos Leões é o edifício-sede do governo do estado 
            brasileiro do Maranhão. Localiza-se no centro histórico da
             cidade de São Luís, na área designada Patrimônio Mundial 
             pela UNESCO. Com uma história que começa no início do 
             século XVII, o Palácio dos Leões um dos maiores símbolos 
             da cultura maranhense.
          </p>
          <p>
            Esta atração está sempre movimentada veja mais sobre 
              <a href='https://oimparcial.com.br/cidades/2017/07/conheca-as-belezas-do-palacio-dos-leoes/'
              target='_blank'> nesta reportagem de um jornal local
              </a>?
            </p>
    </div>
    <div class="place">
        <h2>Convento das Mercês</h2>
        <img src='images/convento.jpg' alt='foto aérea do convento' >
        <div class='clear'></div>
        <p>
          Construído em 1654 e tombado como Patrimônio Histórico Nacional,
           o convento foi inaugurado pelo padre Antônio Vieira, e nele 
           funcionou o Convento da Ordem dos Mercedários. Pertenceu ao 
           estado maranhense de 1905 a 1990, quando o então governador 
           João Alberto de Souza doou o edifício à Fundação José Sarney, 
           seu aliado político. Em junho de 2009, a Justiça decretou a 
           devolução do prédio histórico ao patrimônio estatal e, em 
           outubro do mesmo ano, a Fundação foi fechada após denúncias 
           de desvio de verbas A partir de 2011 passou a abrigar a Fundação
            da Memória Republicana Brasileira, instituição pública estadual 
            que administra o museu, biblioteca, pinacoteca, sala de 
            restauração, e amplo acervo documental.
        </p>
          <p>
        Veja como chegar até o
            <a href='https://g.page/conventodasmerces?share' target='Rota ate o convento'>
       Convento das Mercês.
            </a>
          </p>
    </div>
    <div class="place">
        <h2>Fonte do Ribeirão</h2>
        <img src='images/fonte.jpg' alt='vista frontal da fonte'>
        <div class='clear'></div>
          <p>
            A Fonte do Ribeirão é um exemplar valioso da arquitetura da
             época colonial. Foi construída em 1796 pelo governador Dom
              Fernando Antônio de Noronha. Recoberto de pedras de cantaria
               e cercado por dois paredões, a Fonte é ornamentada com um
               frontão decorado com símbolos religiosos que estão apoiados
                em duas pilastras laterais.
          </p>
          <p>
          A fonte do ribeirão é conhecida tambme por seus misterios veja mais sobre na
            <a href='https://oimparcial.com.br/tv/2018/01/a-misteriosa-fonte-do-ribeirao/'
             target=' reportagem de um jornal local sobre as lendas da fonte do ribeirão'>
             reportagem</a>.
          </p>
    </div>
  </div>
    <div class='sidenote'>
      <h3>
      E existem muitos outros lugares interessantes na cidade...
      </h3>
      <ol>
      <li>O Mercado Central.</li>
      <li>Museu do Ìndio.</li>
      <li>Igreja da Sé</li>
      <li> Espigão Costeiro.</li>
      </ol>
      </div>
    <div class='footer clear'>
      <p>Parte do livro "HTML5 e CSS3: Domine a web do futuro."</p>
    </div>
  </div>        
  </body>
</html>
