
.help {
    background-color: #F1EFE6;
    border: 1px solid #D3CDAE;
    font-size: 0.9em;
    padding: 10px;
    position: relative;
    width: 300px;
    text-align: center;
    float: right;
    margin-right: 300px;
    }
.help::before {
    border-color: transparent #D3CDAE transparent transparent;
    border-style: solid;
    border-width: 14px;
    content: '';
    left: -28px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    border-radius: 5px;
    float: right;
    margin-right: 20px;
    margin-top: 35px;

}